@model mvcBLOG.Models.BlogPost


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../../img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Html.Raw(Model.Title)</h1>
                    <h2 class="subheading">@Html.Raw(Model.Abstract)</h2>
                    <span class="meta">Posted by Adam on @Html.Raw(Model.Created.ToString("MM/dd/yyyy"))</span>
                        @if (Model.Updated != null)
                        {
                        <span class="meta">Updated on @Html.Raw(Model.Updated.Value.ToString("MM/dd/yyyy"))</span>
                        } 
                    
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p> @Html.Raw(Model.Body)</p>
            </div>
        </div>
    </div>
</article>

<hr>
