@model mvcBLOG.Models.BlogPost


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
@{
    var bgimage = "../../img/home-bg.jpg";
}
@if (Model.MediaUrl != null)
{
    bgimage = Model.MediaUrl;
}
<header class="intro-header" style="background-image:url('@bgimage')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Html.Raw(Model.Title)</h1>
                    <h2 class="subheading">@Html.Raw(Model.Abstract)</h2>
                    <span class="meta">Posted by Adam on @Html.Raw(Model.Created.ToString("MM/dd/yyyy"))</span>
                    @if (Model.Updated != null)
                    {
                        <span class="meta">Updated on @Html.Raw(Model.Updated.Value.ToString("MM/dd/yyyy"))</span>
                    }

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p> @Html.Raw(Model.Body)</p>
            </div>
        </div>
    </div>
</article>
<br/>
<h2 style="display: flex; justify-content: center;">Comments</h2>
<br/>
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "Form-horizontal container", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Slug)

        <div style="display: flex; justify-content: center; flex-direction:column; align-items: flex-start" class="form-group">
            
                @Html.TextArea("CommentBody", new { @class = "comment", placeholder = "Add a comment", id = "txtarea" })

            <div style="margin-top: 10px; display: flex; justify-content: space-around">
                <button class="btn btn-default" id="cancel">Cancel</button>
                <button style="margin-left: 10px" class="btn btn-primary" type="submit" value="submit">add</button>
            </div>
            <br />

        </div>
    }
}
        <div class="container ">

            @foreach (var comment in Model.Comments.OrderByDescending(b => b.Created).Take(5))
            {
                <div class="col-md-8 panel panel-default">
                    <div class="row ">
                        <div class="col-md-12" style="display: flex; margin-top: 5px">
                            <div style="margin: 5px; font-size: 25px">@comment.Author.DisplayName</div>
                            @{
                                TimeSpan age = DateTimeOffset.Now.Subtract(comment.Created);
                                var str = age.ToString("%d");
                                if (str == "0")
                                {
                                    str = "Posted today";
                                }
                                else
                                {
                                    str = str + " day(s) ago";
                                }
                            }
                            <div style="margin: 5px">@str</div>
                        </div>
                    </div>
                    <div style="margin: 10px" class="row">
                        <div class="col-md-12 panel panel-default">
                            <p>@comment.Body</p>
                        </div>
                    </div>
                </div>
            }

            @foreach (var comment in Model.Comments.OrderByDescending(b => b.Created).Skip(5))
            {
                <div class="pastcomments" class="col-md-8 panel panel-default">
                    <div class="row ">
                        <div class="col-md-12" style="display: flex; margin-top: 5px">
                            <div style="margin: 5px; font-size: 25px">@comment.Author.DisplayName</div>
                            @{
                                TimeSpan age = DateTimeOffset.Now.Subtract(comment.Created);
                                var str = age.ToString("%d");
                                if (str == "0")
                                {
                                    str = "Posted today";
                                }
                                else
                                {
                                    str = str + " day(s) ago";
                                }
                            }
                            <div style="margin: 5px">@str</div>
                        </div>
                    </div>
                    <div style="margin: 10px" class="row">
                        <div class="col-md-12 panel panel-default">
                            <p>@comment.Body</p>
                        </div>
                    </div>
                </div>
            }

        </div>
        @if (Model.Comments.Count > 5)
        {
        <div style="display: flex; justify-content: center">
            <a id="showcom" class="btn btn-primary" >all comment</a>
        </div>
        }
<hr>

<style>
    .comment {
        resize: none;
        overflow: visible;
        height: 10vh;
        width: 100%;
    }
    .form{
        display: flex;
        justify-content: flex-start
    }
</style>


@section scripts{
    <script>
        $(".pastcomments").hide()
        $("#showcom").show()
        $("#showcom").click(() => {
            $(".pastcomments").toggle()
            $("#showcom").hide();
        })
        $(".comment").autogrow();
        $("#cancel").click(function (e) {
            e.preventDefault();
            $("#txtarea").val("")
        })
    </script>}

