@model mvcBLOG.Models.EmailModel
@using (Html.BeginForm())
{@Html.AntiForgeryToken()
<header style="background-color: black; display: block; height: 60px"></header>
<div class="form-horizontal well" style="margin: 10px 20% 0px">
    <h2 style="text-align: center">Create a new account.</h2>
    <hr />

    <div style="padding: 10px 50px 0px">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromName)
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "example@email.com" })
                @Html.ValidationMessageFor(m => m.FromEmail)
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Subject)
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            @Html.LabelFor(m => m.Body, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", row = "5" })
                @Html.ValidationMessageFor(m => m.Body)
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Send" />
            </div>
        </div>
        </div>
    </div>
        }
